<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container pt-5" id="app">
      <div class="card center">
        <h1>{{ title }}</h1>
        <div>
          <input
            type="text"
            :placeholder="placeholder"
            v-model="inputValue"
            @keypress.enter="addNote"
          />
          <h2>{{ inputValue }}</h2>

          <button class="btn" v-on:click="addNote">Добавить</button>
          <hr v-if="notes.length !== 0"/>
          <ul>
            <li v-for="(note, index) in notes">
              {{ note }}
              <button class="btn" v-on:click="deleteNote(index, $event)">Delete</button>
            </li>
          </ul>
          <hr>
          <h3><b>Общее количество: {{ notes.length }}</b> {{ double }}</h3>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="/app.js"></script>
</html>
